body {
    background-color: rgb(172, 172, 172);
}

.form {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(211, 211, 211);
    padding: 10px 20px;
}

.formContent {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select.formInput {
    height: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

textarea.formInput {
    min-height: 150px;
}
